--extra-index-url https://download.pytorch.org/whl/cu117
torch==2.0.0
furo==2021.11.16
nbsphinx
sphinx_gallery
sphinx_rtd_theme
google-api-python-client==2.98.0
pytube==15.0.0
ffmpeg==1.4
youtube-transcript-api==0.6.1
pydub==0.25.1
plotly==5.17.0
librosa==0.10.1
openai-whisper==20230918
pytest==7.4.3
